.container1{
    display:flex;
    background-color: burlywood;
    height:500px;
    width:500px;
    align-content: flex-start;
    
}
.innerDiv1{
height: 100px;
width:200px;
background-color: brown;
margin: 2%;
}
.innerDiv2{
    height: 100px;
width:200px;
background-color: blue;
margin: 2%;
}
.innerDiv3{
    height: 100px;
width:200px;
background-color: green;
margin: 2%;
}